@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BlackItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-LightItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Light.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Light.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ThinItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-MediumItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLight.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBoldItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Medium.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Italic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Italic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Black.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBold.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLightItalic.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Regular.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Thin.woff2') format('woff2'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Thin.woff') format('woff'),
        url('../fonts/barlow-semi-condensed/BarlowSemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}