@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-BoldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-BoldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Regular.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Regular.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-SemiboldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-RegularItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-RegularItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Semibold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Semibold.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Light.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Light.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Heavy.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Heavy.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-MediumItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-MediumItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-HeavyItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-HeavyItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-LightItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-LightItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Bold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Bold.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Medium.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Medium.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-ThinItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-ThinItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Thin.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Thin.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltraboldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltraboldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultralight.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultralight.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltralightItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltralightItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Maru';
    src: url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultrabold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultrabold.woff') format('woff'),
        url('../fonts/pp-nikkei-maru/PPNikkeiMaru-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}