@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Heavy.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Heavy.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Bold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Bold.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-BoldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-BoldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultrabold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultrabold.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-LightItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-LightItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Medium.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Medium.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-RegularItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-RegularItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-HeavyItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-HeavyItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Thin.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Thin.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-ThinItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-ThinItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Semibold.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Semibold.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-MediumItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-MediumItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Light.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Light.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Regular.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Regular.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-SemiboldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultralight.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultralight.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltraboldItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltraboldItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Nikkei Journal';
    src: url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltralightItalic.woff2') format('woff2'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltralightItalic.woff') format('woff'),
        url('../fonts/pp-nikkei-journal/PPNikkeiJournal-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}